.page{
  display: flex;
  flex: 1;
  flex-direction: row;
  z-index: inherit;
}

.blog {
  flex-grow: 4;
  margin: 0 1rem 0 0;
  max-width: 600px;
  z-index: inherit;
}

.categories {
  flex-grow: 1;
  margin: 5rem 0 0 0;
  max-width: 190px;
  z-index: inherit;
}