/*
Color scheme dark horse: https://hookagency.com/website-color-schemes/
*/

.activeLink {
  color: white;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: #393f4d;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #feda6a;
  text-decoration: none;
}

.link {
  color: black;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: #feda6a;
  outline: 0;
  border-width: 0;
  border-radius: 5px;
  text-decoration: none;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  white-space: nowrap;
}
