/*
Color scheme dark horse: https://hookagency.com/website-color-schemes/
*/

.card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  background-color: #393f4d;
  width: 100%;
  z-index: inherit;
  border-color: #393f4d;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  z-index: inherit;
}

.left {
  flex: 2;
  padding: 0rem 1rem 0rem 0rem;
  z-index: inherit;
}

.right {
  flex: 1;
  margin: auto;
  z-index: inherit 1;
  z-index: inherit;
}

.category {
  color: #feda6a;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.title {
  color: white;
  text-align: justify;
}

.description {
  color: white;
  text-align: justify;
}

.link {
  text-decoration: none;
}