.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px 5px;
  justify-items: center;
  align-items: center;
  border: 1px solid #feda6a;
  border-radius: 5px;
  background-color: #feda6a;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}