.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  background-color: #feda6a;
  border-radius: 5px;
}

.lock {
  background-color: transparent;
  border-color: transparent;
}

.lock:focus {
  outline:0 !important;
}
